# Build and distribution files
.dist/
dist/

#environment
.env
.env.local

# IDE files
.idea/
.vscode/
.kiro/

# Node.js dependencies
node_modules/
**/node_modules
**/package-lock.json

# Miscellaneous
photoExample/